---
export function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } }
  ];
}

const { lang } = Astro.params;
import type { FoodItemEntry, FoodItemEntryMetaItem, SeasonEntry, SeasonEntryMetaItem } from "../../../../bcms/types/ts";
import { Seasons } from "../../../components/seasonal-menu-page/Seasons";
import Layout from "../../../layouts/Layout.astro";
import { bcmsPrivate } from '../../../bcms-private';
import { bcmsPublic } from '../../../bcms-public';

const seasons = ((await bcmsPrivate.entry.getAll('season')) as SeasonEntry[]).map(
    (e) => e.meta.en as SeasonEntryMetaItem,
);

const foodItems = (
    (await bcmsPrivate.entry.getAll('food-item')) as FoodItemEntry[]
).map((e) => e.meta.en as FoodItemEntryMetaItem);
---

<Layout lang={lang} title={`Seasonal Menu - Casa de los Sabores`}>
    <div>
        <Seasons
            seasons={seasons}
            foodItems={foodItems}
            client:load
            bcmsConfig={bcmsPublic.getConfig()}
        />
    </div>
</Layout>
